@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1d2671, #c33764);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #444;
}

.register-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.7s ease-out;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.password-container i{
    position: absolute;
    margin-top: 15px;
    margin-left: -35px ;
}

.image-container {
    background: url('../images/login.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    color: #fff;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.image-container h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
    z-index: 1;
    text-align: center;
}

.image-container p {
    z-index: 1;
    text-align: center;
    font-size: 1.2rem;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

.btn {
    text-align: center;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #4A00E0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8E2DE2;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #4A00E0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .register-container {
       height: 99%;
    }
}
/* Responsive Design */
@media (max-width: 768px) {

    .register-container {
        width: 95%;
    }

    .form-container {
        padding: 20px;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 430px) {
    .image-container, .overlay{
        display: none;
    }
    .register-container {
        grid-template-columns: 1fr;
    }
}
