@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Kannada:wght@100..900&family=Poppins:wght@300;400;500;700;800&display=swap');

:root{
    --main-color: #000080;
    --second-color: #C11C43;
    --light-red: #C11C4359;
    --light-pink: #FFC2D0;
    --text-color: #000;
    --white-color: #fff;
    --body-color: #f6f6ff;
}

*{
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color); 
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
}

.search-box form{
    margin: 0;
}

.all-products-section{
    width: 90%;
    min-height: 100vh;
    margin: 50px auto;
    padding-right: 15px ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.product-card.show{
    opacity: 1;
    transform: translateY(0);
}

.product-img{
    width: 100%;
    height: 150px;
    background-color: rgba(215, 220, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.product-img img{
    width: 150px;
    height: 100%;
}

.product-card{
    padding: 10px;
    display: block;
    margin-bottom: 40px;
}

.product-name,.cart-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card .ratings{
    color: goldenrod;
}

.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qty input{
    padding: 8px;
    border: none;
    background-color: rgba(215, 220, 255, 0.4);
    border: 1px solid var(--main-color);
}

.qtyminus,.qtyplus{
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart-button a{
    border: 1px solid var(--main-color);
    padding: 5px 10px;
    background-color: transparent;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.cart-button a:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}

.btn{
    border: 1px solid var(--main-color);
    padding: 5px 10px;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.strike-cost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.off{
    color: green;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .all-products-section {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }
    .product-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px){
    .product-items{
        grid-template-columns: repeat(2, 1fr);
    }
    .all-products-section {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
    .cart-button a {
        font-size: 0.8rem;
    }
    .product-name{
        font-size: 0.8rem;
    }
}

@media (max-width: 430px) {
    .all-products-section {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .product-items {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-img {
        width: unset;
    }
}