body{
    background: #f6f6ff;
}

.all-products-section{
    width: 80%;
    margin: 0 auto;
}

.section-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    color: var(--main-color);
}

.short-line{
    width: 5px;
    height: 30px;
    background-color: var(--main-color);
}

.product-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-flex label{
    font-weight: 600;
}

.product-flex select{
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--white-color);
    padding: 5px 30px;
    font-weight: 600;
    cursor: pointer;
}

.product-flex, .product-items, .product-card {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.button{
    text-align: center;
    padding: 10px;
}

.button .btn{
    background: #000080;
    color: #fff;
    padding: 10px 15px;
    font-weight: 500;
    letter-spacing: 1.2px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid #000080;
}

.button .btn:hover{
    background-color: transparent;
    color: #000080;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 15px;
    margin-top: 30px;
}

.filter-section select{
    padding: 5px 10px; 
    font-size: 0.8rem;
    background-color: #000080;
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn{
    border: 1px solid var(--main-color);
    padding: 5px 10px;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
}

@media (max-width: 430px) {
    .cart-button {
        gap: 20px;
    }
    .cart-button a {
        width: 100%;
        font-size: 1rem;
        text-align: center;
        padding: 10px;
    }
}